# Hapi-fhir-jpaserver-oauth

## Description

Hapi-fhir-jpaserver-oauth is HAPI version 3.8.0 with support for mySQL and OAuth. 

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
**Issue {{issue}}** - {{title}} {{#hasLabels}}{{#labels}}```{{.}}```{{/labels}}{{/hasLabels}}
  {{/hasIssue}}
  {{^hasIssue}}
  {{/hasIssue}}
 {{/issues}}
{{/tags}}
