# Hapi-fhir-jpaserver-oauth

## Description

Hapi-fhir-jpaserver-oauth is HAPI version 3.8.0 with support for mySQL and OAuth. 

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}
### {{title}} {{#hasIssueType}} *{{issueType}}* {{/hasIssueType}} {{#hasLabels}} {{#labels}} `{{.}}` {{/labels}} {{/hasLabels}}
* Further information in the Pull Request [{{issue}}]({{link}})
  {{/hasIssue}}
  {{^hasIssue}}
  {{/hasIssue}}
 {{/issues}}
{{/tags}}
