# Hapi-fhir-jpaserver-oauth

## Description

Hapi-fhir-jpaserver-oauth is HAPI version 3.8.0 with support for mySQL and OAuth. 

{{#tags}}
## {{name}}
 {{#issues}}
  {{#hasIssue}}

#### GitHub {{issue}} {{title}} {{#hasLabels}} {{#labels}} *{{.}}* {{/labels}} {{/hasLabels}}
  {{/hasIssue}}
  {{^hasIssue}}
#### GitHub
  {{/hasIssue}}

  {{#commits}}
**{{{messageTitle}}}**

{{#messageBodyItems}}
 * {{.}} 
{{/messageBodyItems}}

[{{hash}}](https://github.com/arihealth/hapi-fhir-jpaserver-oauth/commit/{{hash}}) {{authorName}} *{{commitTime}}*

  {{/commits}}

 {{/issues}}
{{/tags}}
